{
		"web": {
		  "client_id": "Google client id here",
		  "project_id": "Google project id here",
		  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
		  "token_uri": "https://accounts.google.com/o/oauth2/token",
		  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
		  "client_secret": "Google client secret here",
		  "redirect_uris": ["Google redirect uri here"],
		  "javascript_origins": ["Google javascript origins here"],
		  "scope": "https://www.googleapis.com/auth/youtube.readonly",
		  "response": "code",
		  "access_type": "offline",
		  "grant_type": "authorization_code"
		}
}
